.product-card {
  width: 320px;
  min-height: 100%;
  border: 1px solid #eeeeee;
  padding: 16px 0px 0px 0px;
  gap: 32px;
  border-radius: 32px;
  opacity: 0px;
  }

button {
  background-color: royalblue;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #004aad;
}

.category {
  text-transform: capitalize;
  color: #555555;
  margin: 8px 0;
  font-size: 14px;
}

.priceandbutton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

img {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 16px;
}