.product-card {
  width: 320px;
  min-height: 476px;
  border: 1px solid #eeeeee;
  padding: 16px 0px 0px 0px;
  gap: 32px;
  border-radius: 32px;
  opacity: 0px;
  }

button {
  background-color: royalblue;
  color: #eeeeee;
  border: 1px solid #eeeeee;
  border-radius: 10px;

}

.category {
  text-transform: capitalize;
}

.priceandbutton {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  
}

img {
  height: 60%;
  width: 100%;
}